:root {
  --tomato-50: #fff2ef;
  --tomato-100: #ffd9d2;
  --tomato-200: #ffc0b3;
  --tomato-300: #ffa694;
  --tomato-400: #ff8872;
  --tomato-500: #fc6950;
  --tomato-600: #e3391e;
  --tomato-700: #a81900;
  --tomato-800: #680b00;
  --tomato-900: #350300;

  --mint-50: #dafff0;
  --mint-100: #81ffd4;
  --mint-200: #5cefc1;
  --mint-300: #46ddb0;
  --mint-400: #2bcb9f;
  --mint-500: #00bb8e;
  --mint-600: #009774;
  --mint-700: #006b52;
  --mint-800: #004130;
  --mint-900: #001e15;
}